<table class="table">
    <thead>
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Age</td>
            <td>Status</td>
            <td>Created At</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.status}}</td>
            <td>{{employee.createdAt | date }}</td>
        </tr>
    </tbody>
</table>

